<h1>Listing clinicians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinicians.each do |clinician| %>
      <tr>
        <td><%= clinician.name %></td>
        <td><%= clinician.email %></td>
        <td><%= clinician.password %></td>
        <td><%= link_to 'Show', clinician %></td>
        <td><%= link_to 'Edit', edit_clinician_path(clinician) %></td>
        <td><%= link_to 'Destroy', clinician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clinician', new_clinician_path %>
